doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/css/global/bundle.min.css")

        block style

    body
        block content

        script(src="/js/global/bundle.min.js", type="text/javascript")

        block script